<div class="row row-cols-1 row-cols-md-2 g-4">
    {{#each medicamentos}}
        <div class="col">
            <div class="card text-center">
                <img src="/public/img/medicamentos/{{this.imagem}}" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">{{this.nome}}</h5>
                    <p class="card-text">{{this.laboratorio}}</p>
                    <p class="card-text">R$ {{this.venda}}</p>
                    <a href="/editar/{{this.id}}" class="btn btn-primary">Editar</a>
                    <form action="/deletar/{{this.id}}" method="POST" onsubmit="return confirmarExclusao()">
                        <button type="submit" class="btn btn-danger cursor-pointer mt-2 ml-2">Deletar</button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
</div>